.pokemon-image {
    /* Width and height values are just for example purposes, adjust to fit your sprite sizes */
    width: 48px; 
    height: 48px;

    /* Add a bit of margin for spacing between images */
    margin: 5px;

    /* Ensure each sprite gets its own box and does not stretch */
    flex: 0 0 calc(10% - 10px); /* 10% for 10 images in a row, minus margin */
}

.list-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to next line */
    flex-direction: column;
    align-items: center;
    justify-content: center; /* This will center items vertically */
    height: 60vh; /* Take up full viewport height */
    width: 100vw; /* Optional: Take up full viewport width */
    box-sizing: border-box; /* To ensure any padding doesn't affect width */
}

.empty-message {
    text-align: center;
    background-color: grey;
    padding: 20px;
    color: white;
    font-size: 36px;
}