.large-box {
    width: 80%;
    margin: 10px auto;
    margin-bottom: 40px;
    height: 80vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: white;
    position: relative; 
}

.display-title {
    text-align: center;
    margin-left: -160px;
    margin-bottom: 10px;
    font-size: 24px;
}

.img{
    width: 50%; 
    height: auto; 
}

.pokemon-name {
    position: absolute;
    top: 10px;  /* adjust as needed */
    left: 10px; /* adjust as needed */
    background-color: lightblue;
    padding: 5px;
    border-radius: 4px;
    font-size: 24px; /* or adjust as needed */
 }
 
 /* Styles for the creature's level */
 .pokemon-level {
    position: absolute;
    top: 10px;   /* adjust as needed */
    right: 10px; /* adjust as needed */
    background-color: lightblue;
    padding: 5px;
    border-radius: 4px;
    font-size: 24px; /* or adjust as needed */
 }
 
 .pokemon-image {
    width: 500%; 
    height: auto;
    display: block;
    margin: 0 auto;
    margin-left: -220%; /* Counteract the enlargement */
}

 .evolve-button {
    width: 15%;
    justify-content: center;
    height: auto;
    margin: 5px;
    background-color: #1976d2;
    color: white; /* White text on the red button */
    border-color: gold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; /* Position it relative to the large-box */
    bottom: 20px;       /* Adjust this value to change the button's distance from the bottom */
    left: 50%;          /* Center the button */
    transform: translateX(-50%); /* Ensures the button is perfectly centered */
    font-size: 16px;    /* Adjust the font size if needed */
}

/* Button hover effect for better UX */
.evolve-button:hover {
    background-color: darkred;
}

.no-pokemon-content {
    display: flex;
    margin-top: 30%;
    flex-direction: column;
    align-items: center;
}

.no-pokemon-button {
    margin-top: 30px;
    height: 50px;
}

.release-button {
    width: 15%;
    justify-content: center;
    height: auto;
    margin: 5px;
    background-color: red;
    color: white; /* White text on the red button */
    border-color: gold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; /* Position it relative to the large-box */
    bottom: 20px;       /* Adjust this value to change the button's distance from the bottom */
    left: 90%;          /* Center the button */
    transform: translateX(-50%); /* Ensures the button is perfectly centered */
    font-size: 16px;    /* Adjust the font size if needed */
    float: right;
}

.release-button:hover {
    background-color: darkred;
}

app-confirmation-popup {
    position: absolute;
    z-index: 1000;
}

.evolve-button-flareon {
    width: 20%;
    justify-content: center;
    margin: 5px;
    background-color: red;
    color: white; /* White text on the red button */
    border-color: gold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; /* Position it relative to the large-box */
    font-size: 36px;    /* Adjust the font size if needed */
    left: 40%;
    bottom: 0%;
}

/* Button hover effect for better UX */
.evolve-button-flareon:hover {
    background-color: darkred;
}


.evolve-button-vaporeon {
    width: 20%;
    justify-content: center;
    margin: 5px;
    background-color: blue;
    color: white; /* White text on the red button */
    border-color: gold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; /* Corrected position property */
    font-size: 36px;
    left: 70%;
    bottom: 0%;
}

/* Button hover effect for better UX */
.evolve-button-vaporeon:hover {
    background-color: darkblue;
}


.evolve-button-jolteon {
    width: 20%;
    justify-content: center;
    margin: 5px;
    background-color: gold;
    color: white; /* White text on the red button */
    border-color: gold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; /* Position it relative to the large-box */
    font-size: 36px;    /* Adjust the font size if needed */
    left: 10%;
    bottom: 0%;
}

/* Button hover effect for better UX */
.evolve-button-jolteon:hover {
    background-color: yellow;
}


.evolve-buttons-container {
    width: 80%;  /* Ensures it spans the entire width */
    display: flex;
    justify-content: center;  /* Horizontally centers buttons within the container */
    gap: 10px;
    position: absolute; /* Position it relative to the pokemon-container */
    bottom: 80px;  /* Adjust this value as needed to position the evolve buttons container above the release button */
    left: 10%;
}