<div class="pokemon-container">
    <div *ngIf="locations" class="locations-container">
        <div class="location-box" [ngStyle]="{'background-color': canRest ? '#1976d2' : 'grey'}" (click)="rest()">
            Rest    
        </div>
        <div class="location-box" [ngStyle]="{'background-color': canTrain ? '#1976d2' : 'grey'}" (click)="trainStrength()">
            Train Strength     
        </div>
        <div class="location-box" [ngStyle]="{'background-color': canTrain ? '#1976d2' : 'grey'}" (click)="trainDefense()">
            Train Defense 
        </div>
        <div class="location-box" [ngStyle]="{'background-color': canTrain ? '#1976d2' : 'grey'}" (click)="trainSpeed()">
            Train Speed 
        </div>
        <div class="location-box" [ngStyle]="{'background-color': canTrain ? '#1976d2' : 'grey'}" (click)="trainAccuracy()">
            Train Accuracy
        </div>
        <div class="location-box" [ngStyle]="{'background-color': canTrain ? '#1976d2' : 'grey'}" (click)="trainHealth()">
            Train Health
        </div>
    </div>
    <div *ngIf="strength" class="mini-game-container">
        <div class="vertical-line">
            <div class="target-section" [style.height.px]="targetHeight"></div>
            <div 
                class="dot" 
                [style.top.%]="dotPosition"
                [@moveDot]="{ value: moveDirection, params: { speed: dotSpeed } }">
            </div>
        </div>
        <button class="checkPositionButton" (click)="checkPosition()">Stop</button>
    </div>
    <div *ngIf="defense" class="mini-game-container">
        <div class="vertical-line">
            <div class="target-section" [style.height.px]="targetHeight"></div>
            <div 
                class="dot" 
                [style.top.%]="dotPosition"
                [@moveDot]="{ value: moveDirection, params: { speed: dotSpeed } }">
            </div>
        </div>
        <button class="checkPositionButton" (click)="checkPosition()">Stop</button>
    </div>
    <div *ngIf="speed" class="mini-game-container">
        <div class="vertical-line">
            <div class="target-section" [style.height.px]="targetHeight"></div>
            <div 
                class="dot" 
                [style.top.%]="dotPosition"
                [@moveDot]="{ value: moveDirection, params: { speed: dotSpeed } }">
            </div>
        </div>
        <button class="checkPositionButton" (click)="checkPosition()">Stop</button>
    </div>
    <div *ngIf="accuracy" class="mini-game-container">
        <div class="vertical-line">
            <div class="target-section" [style.height.px]="targetHeight"></div>
            <div 
                class="dot" 
                [style.top.%]="dotPosition"
                [@moveDot]="{ value: moveDirection, params: { speed: dotSpeed } }">
            </div>
        </div>
        <button class="checkPositionButton" (click)="checkPosition()">Stop</button>
    </div>
    <div *ngIf="health" class="mini-game-container">
        <div class="vertical-line">
            <div class="target-section" [style.height.px]="targetHeight"></div>
            <div 
                class="dot" 
                [style.top.%]="dotPosition"
                [@moveDot]="{ value: moveDirection, params: { speed: dotSpeed } }">
            </div>
        </div>
        <button class="checkPositionButton" (click)="checkPosition()">Stop</button>
    </div>
</div>
<app-win-flash #winFlash></app-win-flash>
<app-lose-flash #loseFlash></app-lose-flash>
<div *ngIf="showOverlay" class="fade-overlay"></div>
<app-message-popup 
    [message]="oldMessage" 
    [isVisible]="showOld" 
    (closePopup)="handleClosePopup()">
</app-message-popup>
<app-message-popup 
    [message]="retireMessage" 
    [isVisible]="showRetire" 
    (closePopup)="handleClosePopup()">
</app-message-popup>