.box-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; /* centers the container */
}
  
  .horizontal-bar {
    height: 5px;          /* Adjust as per your preferred thickness */
    background-color: black;
    width: 100%;          /* This ensures the bar takes up the full width */
    margin-top: 10px;     /* Optional: Add some spacing above the bar */
    margin-bottom: 10px;  /* Optional: Add some spacing below the bar */
  }

  .large-box {
    width: 45%;
    margin: 40px auto;
    margin-bottom: 40px;
    height: 460px;
    border: 2px solid black;
    font-size: 24px;
    background-color: white;
    padding-top: 10px;
}

.crit {
    animation: flashRedBorder 0.5s forwards;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
}

