<div class="box-container">
    <div class="large-box">
        <app-play-my-pokemon (critEvent)="triggerCrit()" (onGeneratePokemon)="handleGeneratePokemon()" (onRelease)="handleRelease()"></app-play-my-pokemon>
    </div>
    <div class="large-box">
        <app-play-right-box (critEvent)="triggerCrit()" (onCatchConfirmation)="handleCatchConfirmation()"></app-play-right-box>
    </div>
</div>
<div class="horizontal-bar"></div>
<app-gym-list (gymSelected)="onGymSelected($event)"></app-gym-list>
<app-confirmation-popup *ngIf="showConfirmationPopup" [message]="'Challenge the ' + gymName + ' Gym?'" (onConfirm)="handleConfirm()" (onDeny)="handleDeny()"></app-confirmation-popup>