.large-box {
    width: 80%;
    margin: 10px auto;
    margin-bottom: 40px;
    height: 80vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: white;
    position: relative; /* Added this so we can absolutely position the VICTORY text */
}

.display-title {
    text-align: center;
    margin-bottom: 10px;
}

.game-won-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; /* Added for absolute positioning */
    top: 25%; /* Position 25% from the top */
    left: 50%; /* To ensure it's centered */
    transform: translateX(-50%); /* Offset for perfect centering */
}

.game-won-container > div {
    width: max-content; 
    color: white; /* Set VICTORY text color to white */
    font-size: 2em; /* Increase the size of VICTORY text */
    margin-bottom: 20px; /* Space between VICTORY text and button */
}

.game-won-container > button {
    width: max-content;
    margin-top: 40%;
    padding: 10px 20px; /* Increased padding for a larger button */
    font-size: 1.2em; /* Increase the size of button text */
    cursor: pointer; /* Change cursor to pointer when hovering over the button */
    background-color: #1976d2; /* Blue background */
    color: white; /* White text */
    border: none; /* Remove default border */
    border-radius: 5px; /* Slight rounding of button corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.game-won-container > button:hover {
    background-color: #1565c0; /* Slightly darker blue for hover effect */
}

.game-container {
    display: flex;
    flex-wrap: wrap;
}
.moving-box {
    width: 5%;
    /* other styles */
}